@model IEnumerable<Originarios.Models.Publicacao>

@{ ViewBag.Title = "PUBLICAÇÕES"; }

<h2>@ViewBag.Title</h2>

@if (ViewBag.msg != null)
{
<h5 class="text-success">@ViewBag.msg</h5>}


<div class="container-fluid p-0 d-flex flex-row flex-wrap justify-content-around" style="">

    @foreach (var item in Model)
    {

<div class="d-inline-block vertical-align: top text-black mt-4 " style="">
    <div class="card" style="width: 15rem; height: 15rem;">

        <a href="@Url.Action("Details", "Publicacoes", new { id = item.id_public })">

        </a>

        

    </div>
</div>}
</div>